{# src/Book/ReviewBundle/Resources/views/Page/index.html.twig #}
{% extends "BookReviewBundle::layout.html.twig" %}

{% block body %}
    <table border = 2 width = "90%">

        <tr> <td> Assessment Title:</td>  <td>  Book Review Website</td>< </tr>
        <tr> <td>  Programme Codes: DWBS</td>  <td> Friday 20 01 2017 </td>< </tr>
        <tr> <td>  Assessor(s): R. Ogden  </td> <td> By: Mohamed Friqita </td>< </tr>
    </table>
{% endblock %}
